/* #sidebar{
    margin-top: 4.6%;
}
.media-body > h4 {
    color: #5596E6;
    font-size: 34px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 60px;
}

.rounded-circle {
    margin-top: -22%;
    margin-left: 32%;
}

.about{
    color: #5596E6;
    font-weight: 600;
    font-size: 30px;
}

.banner{
    height: 150px;
    width: 400px;
    color: transparent;
    background-color: #5596E6;
    border: transparent;
}

.bio{
    text-align: left;
    width: 400px;
    font-size: 18px;
}

.btn {
    background-color: #5596E6;
    color: black;
} */

#sidebar{
    margin-top: -2%;
}

.nav {
    width: 250px;
    border: 1px solid rgb(168, 168, 168);
    height: 100vh;
    margin-top: 100px;
}

.nav-item {
    margin-bottom: 30px;
}