.calendar-container {
    position: relative;
    margin-top: 16vh;
    margin-left: 5.0vw;
    width: 55vw;
    height: auto;
}

.fc-button {
    width: 10vh;
}

.fc-toolbar-title {
    color: #fff;
}

.fc-col-header-cell-cushion {
    color: #0b1b37;
}

@media screen and (max-width: 400px) {
    .calendar-container {
        margin: auto;
        width: 80vw;
        height: auto;
    }

    .fc-toolbar-title {
        font-size: 5vw !important;
    }

    .fc-prev-button,
    .fc-next-button {
        width: 12vw !important;
        height: auto !important;
    }

    .fc-icon {
        font-size: 5vw !important;
    }

    .fc-today-button {
        position: relative;
        top: 10vh;
    }
}