.gContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 15%;
    border: 1px solid white;
    border-radius: 10px;
    bottom: 4%;
}
