.gContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #1e1b5b;
    height: 15%;
    color: rgb(184, 203, 248);
    border-radius: 10px;
    bottom: 4%;
}
