.gContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #1e1f25;
    /* height: 15%; */
    color: rgb(184, 203, 248);
    border-radius: 10px;
    bottom: 4%;
    padding: 5%;
    transition: all 0.4s;
}
.gContainer:hover{
    background-color: #000000;
}