.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #9ecafd;
    font-family: 'Inter', sans-serif;
  }
  h1{
    color: #3D70B2;
  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 2px 2px 5px 1px #3D70B2;
    padding-top: 30px;
    border-radius: 20px; 
    background-color: white;
  }
  .imgs {
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
  .container-image {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
  }
  .profile {
    height: 110px;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 10px;
  } 

  input{
      width: 350px;
      height: 50px;
      border-radius: 15px;
      border: 1px solid #3D70B2;
      outline: none;
      background-color: #fff;
      color: #3D70B2;
  }

  .inputs {
    padding-top: 20px;
  }

  .email{
      height: 25px;
      width: 25px;
      position: absolute;
      padding: 14px 0 0 25px;
  }

  .name{
      padding-left: 20px;
      font-size: 20px;
  }
  .second-input{
      padding-top: 30px;
  }

  button{
      width: 380px;
      height: 50px;
      border-radius: 15px;
      background-color: #7FA8E5;
      color: white;
      font-size: 25px;
      border: none;
      cursor: pointer;
  }
  .login-button{
      padding-top: 40px;
  }

  
   a{
      padding-bottom: 10px;
      font-size: 18px;
      color: #7FA8E5;
      text-decoration: none;
   }