.Cards {
  display: flex;
  position: relative;
  gap: 10px;
  margin-top: -100px;
  bottom: 4%;
}

.parentContainer{
  width: 100%;
}



@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}

