.Updates{
    display: flex;
    position: relative;
    width: 85%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    height: 550px;
    bottom: 6%;
    flex-direction: column;
    font-size: 13px;
}



.update{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}




    

.second {
    margin-top: 10px;
}







.update>img{    
    margin-left: 90px;
    margin-top: -50px;
    width: 5.2rem;
    height: 5.2rem;
}

.noti>div>span:nth-of-type(1){
    font-weight: bold;
    text-align: center;
    color: #5596E6;
}

.banner {
    height: 130px;
    background-color: #7FA8E5;
    border-radius: 10px;
}

.banner > img{
    height: 130px;
    width: 100%;
    border-radius: 10px;
}

.details{
    display: flex;
    flex-direction: column;
}

.details > .name{
    font-size: 20px;
}

.details > p {
    font-weight: bold;
    font-size: 20px;
    color: #5596E6;
}

.about-box{
    padding: 5px;
    border: 1px solid #5596E6;
    border-radius: 10px;
}

textarea{
    resize: none;
    color: #5596E6;
}

.about{
    border: none;
    outline: none;
}