.aContainer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    background-color: #1e1f25;
    height: 14%;
    /* box-shadow: 2px 2px 5px #0e1f3a; */
    border-radius: 10px;
    bottom: 6%;
    color: #5CB8E4;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.aContainer:hover{
    /* filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.325)); */
    /* transform: scale(1.02); */
    background-color: black;

}

.section1, .section2{
    border-right: 1px solid #5CB8E4;
}

.section1{
    padding-left: 20px;
    padding-right: 10px;
}

.section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: left;
}

.section > h4{
    font-weight: 500;
}

.info{
    font-size: 20px;
    font-weight: 700;
}